@media (max-width: 1300px) {
}

@media (max-width: 1120px) {
}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
    padding-left: 0;
    align-items: center;
  }

  .user_option {
    justify-content: center;
    margin-top: 15px;
  }
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .slider_section .carousel-indicators {
    margin-top: 45px;
  }

  .offer_section .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .offer_section .box .img-box {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .about_section .detail-box,
  .book_section .form_container {
    margin-bottom: 45px;
  }

  .about_section .row {
    flex-direction: column;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .offer_section .box {
    flex-direction: row;
    text-align: left;
  }

  .offer_section .box .img-box {
    margin-right: 15px;
    margin-bottom: 0;
  }

  h1 {
    font-size: 1.2rem !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 0.8rem !important;
  }

  h4 {
    font-size: 1.3rem !important;
  }

  h5 {
    font-size: 1rem !important;
  }

  h6 {
    font-size: 1rem !important;
  }

  p {
    font-size: 0.8rem !important;
  }

  body {
    font-size: small;
  }

  .footer-logo {
    font-size: 1.5rem !important;
  }

  .detail-box {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }

  .responsive-btn {
    position: relative;
    width: 100%;
    margin-top: -1rem !important;
  }

  .responsive-text {
    font-size: small !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    margin-left: 62vw;
  }

  .header_describe {
    margin-top: 3rem !important;
    margin-bottom: 2rem !important;
  }

  .heading_container {
    align-items: center;
  }

  .about-details {
    text-align: center;
  }

  .food_section .filters_menu li.active {
    width: 110px;
  }

  .about-img {
    max-width: 90% !important;
  }

  .about_section {
    padding-bottom: 2rem;
  }

  .footer_section {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .contact-us {
    margin-bottom: 0.5rem !important;
  }

  .menu-food {
    margin-top: 0rem !important;
    padding-bottom: 2rem !important;
  }

  .logo-menu {
    width: 4rem;
    height: 4rem;
  }

  .navbar-brand {
    padding-left: 1rem;
  }

  .header_section {
    visibility: visible;
    position: absolute;
    width: 100%;
  }

  .food_section {
    margin-top: 1rem !important;
    padding-bottom: 3rem !important;
    padding-top: 9rem !important;
  }

  .getintouch {
    margin-top: 1rem !important;
  }

  .footer-col {
    margin-bottom: 1.2rem !important;
  }

  .slider_section {
    top: 37rem;
    max-width: 80vw;
    max-height: 20vh;
    margin-left: 10vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .show {
    margin-top: -5rem !important;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-toggler {
    position: relative;
    left: 1.5rem;
  }

  .montserrat {
    padding-bottom: 0rem;
    padding-top: 0.5rem;
  }

  .montserrat2 {
    padding-bottom: 2.2rem;
  }

  .slider_section .detail-box {
    padding: 0;
    text-align: center;
    margin-bottom: 6rem;
  }

  .slider_btn {
    position: absolute;
    visibility: hidden;
  }

  .order_online {
    font-size: medium;
  }

  .bg-box {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .food_section {
    margin-top: 15rem;
  }
}

@media (max-width: 576px) {
}

@media (max-width: 480px) {
}

@media (max-width: 430px) {
  .offer_section .box {
    flex-direction: column;
    text-align: center;
  }

  .offer_section .box .img-box {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 376px) {
  .slider_section .detail-box h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .rent_solution_container .col-md-4.col-sm-6 {
    float: left;
    width: 50%;
  }
}
